@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/Google Sans/GoogleSans-Medium.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/Google Sans/GoogleSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/Google Sans/GoogleSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/Google Sans/GoogleSans-MediumItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/Google Sans/GoogleSans-MediumItalic.ttf");
  font-weight: 600;
  font-style: italic;
}