@import './reset';
@import './font';
@import './variables';
@import './mixins';
@import './base';

@import './UI/Item';
@import './UI/Card';
@import './UI/TabView';
@import './UI/Header';
@import './UI/Loader';
@import './UI/Checkbox';
@import './UI/ConsultingPoints';
@import './UI/DashboardSummary';
@import './UI/Footer';
@import './UI/Avatar';
@import './UI/Modal';
@import './UI/PricePdf';
@import './UI/Toggle';
@import './UI/SalePdf';
@import './UI/ResetPassword';
@import './UI/WarningTab';
@import './UI/Profile';
@import './UI/Filters';
@import './UI/Renderer';
@import './UI/PopUp';
@import './UI/Settings';
@import './UI/Money';
@import './UI/Details';
@import './UI/Tab';
@import './UI/Buyer';
@import './UI/CheckList';
@import './UI/DatePicker'; 
@import './UI/DotsMenu';
@import './UI/PlusMinus';
@import './UI/Accordion';
@import './UI/Badge';
@import './UI/Form';
@import './UI/Sheet';
@import './UI/Dropdown';
@import './UI/Tooltip';
@import './UI/Editor';
@import './UI/Searchbar';

@import './Templates/productViewDesktop';
@import './Templates/modelsModal';
@import './Templates/simulatorContainer';
@import './Templates/formModal';
@import './Templates/pantonJS';

@import './Components/default-skin';
@import './Components/nouislider';
@import './Components/photoswipe';
@import './Components/swiper';