.SP__assembler__formModal{
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 2rem;
  overflow-y: scroll;
  margin-bottom: 2rem;

  &__fixed{
    width: 85%;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid $fourth;

    &__title{
      @include font(18px, $primary, 600);
      display: block;
      text-align: left;
      width: 100%;
      margin-bottom: 0.75rem;
    }

    &__value{
      @include font(16px, $primary, 400);
      display: flex;
      align-items: center;
      column-gap: 0.75rem;
      border-radius: 6px;
      position: relative;
      overflow: hidden;

      svg{
        width: 25px;
        height: 25px;
        color: white;
      }

      &.hasError{
        color: white;
        padding: 0.75rem;
        cursor: pointer;

        &:hover{
          &::before{
            opacity: 1;
          }
        }

        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background-color: $red;
          opacity: 0.8;
          transition: 150ms;
        }
      }
    }
  }

  &__options{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    column-gap: 1rem;
    row-gap: 0.5rem;
    height: max-content;
    overflow-y: scroll;
    margin-bottom: 2rem;

    &__label{
      grid-column: span 2;
      font-size: 16px;
      color: $primary;
      padding: 0.5rem 0;
      font-weight: 500;
    }

    &__option{
      background-color: $third;
      padding: 0.75rem;
      transition: 200ms;
      border-radius: 6px;
      border: none;
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 1rem;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      &__name{
        font-size: 18px;
        color: $primary;
        font-weight: 500;
      }

      &:hover{
        background-color: $fourth;
      }
    }
  }

  &__upload{
    @include flexCenter;
    width: 250px;
    flex-direction: column;
    row-gap: 2rem;
    height: 250px;
    border: 2px dashed $fifth;
    border-radius: 6px;
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: 200ms;

    &:hover{
      background-color: $fourth;
    }

    &__cancel{
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
      width: 35px;
      height: 35px;
      background-color: $third;
      border-radius: 6px;
      display: none;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
      color: $red;
      transition: 150ms;

      &:hover{
        background-color: $fourth;
      }
    }

    &__image{
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: none;
      border-radius: 6px;
    }

    &.hasImage{
      border: none;

      &:hover{
        background-color: $secondary;
      }

      &::after{
        display: none;
      }
  
      .SP__assembler__formModal__upload__image,
      .SP__assembler__formModal__upload__cancel{
        display: flex;
      }
    }


    &::after{
      content: 'Clique ou arraste algum arquivo aqui';
      @include font(18px, $fifth, 400);
      width: 70%;
      line-height: 1.5;
      text-align: center;
    }
  }
  
  &__picker{
    background-color: $third;
    width: 85%;
    border-radius: 3px;
    padding: 1rem;
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 2rem;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "label label"
      "picker picker"
      "color search"
      "divisor divisor"
      "results results"
    ;

    &__divisor{
      grid-area: divisor;
      width: 100%;
      height: 2px;
      background-color: $fourth;
      border-radius: 6px;
    }

    &__label{
      grid-area: label;
      font-size: 16px;
      color: $primary;
      font-weight: 500;
    }

    &__results{
      grid-area: results;
      width: 100%;
      min-height: 200px;
      max-height: 200px;
      overflow-y: scroll;
      display: grid;
      align-content: stretch;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: min-content;
      column-gap: 0.5rem;
      row-gap: 0.5rem;
      position: relative;

      &:empty{
        &::after{
          @include font(15px, $fifth, 400);
          position: absolute;
          left: calc(28px + 0.5rem);
          height: 30px;
          display: flex;
          align-items: center;
          text-align: center;
          content: 'Nenhuma cor encontrada';
          line-height: 1.5
        }
        &::before{
          @include font(28px, $fifth, 400);
          font-family: 'Allinsys';
          position: absolute;
          height: 30px;
          display: flex;
          align-items: center;
          left: 0;
          text-align: center;
          line-height: 1.5
        }
      };

      &__item{
        width: 100%;
        background-color: $secondary;
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;
        color: $primary;
        transition: 100ms;;
        display: grid;
        grid-template-rows: min-content 1fr;

        &:hover{
          background-color: $fourth;
        }

        &.isSelected{
          background-color: $primary;
          color: $secondary;
        }

        &__title{
          width: 100%;
          padding: 0.5rem;
          @include font(12px, inherit, 500);
          text-transform: uppercase;
          text-align: center;
          word-wrap: break-word;
        }

        &__color{
          width: 100%;
          height: 100%;
          min-height: 50px;
        }
      }
    }

    &__search{
      @include font(15px, $primary, 400);
      grid-area: search;
      background-color: $secondary;
      padding: 0 0.5rem;
      border: none;
      height: 30px;
      outline: none;
      border-radius: 3px;
    }

    &__color{
      grid-area: color;
      width: 100px;
      height: 30px;
      position: relative;
      border-radius: 3px;
      cursor: pointer;

      &::after{
        @include font(13px, white, 400);
        @include absCenter;
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        content: attr(hex);
        width: 100%;
        text-transform: uppercase;
        height: 100%;
        text-align: left;
        background-size: 200% auto;
        border-radius: 3px;
        background-color: inherit;
        z-index: 3;
        letter-spacing: 1px;
      }

      &::before{
        @include absCenter;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url('../images/png-pattern.jpg');
        background-size: 200% auto;
        border-radius: 3px;
        z-index: 1;
      }
    }

    .colorPicker{
      grid-area: picker;
      background-color: transparent !important;
      border: none !important;
      margin: 0 !important;
      display: grid;
      grid-template-columns: 1fr min-content;
      column-gap: 1rem;

      .twod{
        border-radius: 3px;
        overflow: hidden !important;
        margin: 0 !important;
        position: relative !important;
        width: 100%;
        height: 150px;
        cursor: pointer;

        .bg1, .bg2{
          width: 100%;
          height: 100%;
        }

        .pointer{
          .shape1{
            display: none;
          }
          .shape2{
            width: 15px;
            height: 15px;
            border-color: white !important;
            border-width: 2px;
            outline: 1px solid black;
            border-radius: 50%;
          }
        }
      }

      .oned{
        margin: 0 !important;
        position: relative !important;
        height: 150px;
        width: 15px !important;
        cursor: pointer;

        .bg{
          border: none !important;
          border-radius: 3px;
          width: 100% !important;
          height: 100% !important;
        }

        .pointer{
          width: 100% !important;
          aspect-ratio: 1/1;
          position: absolute !important;
          left: 50%;
          transform: translate(-50%, -50%);

          .shape{
            @include absCenter;
            outline: 1px solid black;
            width: 120% !important;
            aspect-ratio: 1/1;
            height: unset !important;
            margin: 0 !important;
            border: 2px solid white;
            border-radius: 60%;
          }
        }
      }
    }
  }

  &__pieces{
    width: 100%;
    display: grid;
    align-content: flex-start;
    row-gap: 0.75rem;
    overflow-y: auto;
    padding: 0 1rem;
    padding-bottom: 2rem;

    &__product{


      &__piece{
        width: 85%;
        background-color: $third;
        padding: 0.75rem;
        display: flex;
        column-gap: 0.75rem;
        align-items: center;
        border-radius: 6px;
        transition: 150ms;
        cursor: pointer;

        &:hover{
          background-color: $fourth;
        }

        &.isActive{
          .SP__assembler__formModal__pieces__product__piece__checkbox{
            i{
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }

        &__title{
          color: $primary;
          font-size: 16px;
          font-weight: 600;
        }

        &__measure{
          color: $fifth;
        }

        &__checkbox{
          width: 24px;
          height: 24px;
          background-color: $secondary;
          border-radius: 4px;
          position: relative;
          cursor: pointer;

          i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            color: $green;
            font-weight: bold;
            transition: 100ms;
          }
        }
      }
    }
  }

  &__slider{
    width: 85%;
    background-color: $third;
    border-radius: 6px;
    padding: 1rem;
    height: min-content;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr min-content;
    column-gap: 1.5rem;
    row-gap: 0.5rem;

    &.hasError{
      .SP__assembler__formModal__slider__input{
        color: $red;
      }
      .ui-slider-range,
      .ui-slider-handle{
        background-color: $red;
      }
      
    }

    &__label{
      grid-column: span 2;
      font-weight: 500;
      color: $primary;
    }

    &__input{
      @include font(18px, $primary, 500);
      @include flexCenter;
      background-color: $secondary;
      border-radius: 6px;
      padding: 0.5rem;
      width: 6ch;
      text-align: center;
      border: none;
      transition: 150ms;
      outline: none;
    }

    &__slider{
      width: 100%;
      height: 27px !important;
      position: relative;

      &::before{
        content: '';
        background-color: $secondary;
        position: absolute;
        height: 12px;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-radius: 3px;
      }
  
      .ui-slider-handle{
        background-color: $primary;
        width: 25px !important;
        outline: 4px solid $third;
        height: 25px !important;
        border-radius: 6px;
        top: 50% !important;
        transform: translateY(-50%);
        cursor: ew-resize !important;
        transition: background-color 100ms;

        &::after{
          @include font(23px, $secondary, 700);
          @include absCenter;
          font-family: "Allinsys";
        }
      }
  
      .ui-slider-range{
        background-color: $primary;
        top: 50% !important;
        left: 0;
        height: 12px !important;
        transform: translateY(-50%);
        border-radius: 3px;
        transition: background-color 100ms;
      }
    } 

    &__chips{
      display: grid;
      grid-column: span 2;
      grid-template-columns: repeat(3, 1fr) 71px;
      column-gap: 0.5rem;
      margin-top: 0.25rem;

      &::before{
        @include font(15px, $primary, 500);
        content: 'Valores Próximos';
        grid-column: span 4;
        margin-bottom: 0.75rem;
        padding-top: 1rem;
        border-top: 2px solid $fourth
      }

      &__chip{
        @include font(14px, $primary, 500);
        background-color: $secondary;
        padding: 0.4rem 0rem;
        border-radius: 6px;
        border: none;
        transition: 150ms;
        cursor: pointer;

        &:hover{
          background-color: $fourth;
          color: $primary;
        }

        &.isActive{
          background-color: $primary;
          color: $secondary
        }
      }
    }
  }

  &__text{
    display: grid;
    place-items: center;
    grid-column: span 2;
    row-gap: 1rem;
    width: 80%;
    background-color: $third;
    border-radius: 6px;
    padding: 1rem;

    &__label{
      @include font(16px, $primary, 600);
      display: block;
      text-align: left;
      width: 100%;
    }

    &__input{
      @include font(17px, $primary, 400);
      border-radius: 4px;
      border: none;
      padding: 0.5rem;
      outline: none;
      width: 100%;
      background-color: $secondary;
      text-align: left;
    }
  }
}