////////////////////////////////////////
///              AVATAR              ///
////////////////////////////////////////

//O ícone do perfil do usuário que abre o menu de opções

.SP__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: 300ms;
  border: 1px solid transparent;


  //O menu com as opções
  .SP__avatar__menu {
    cursor: auto;
    width: min-content;
    position: absolute;
    box-shadow: 0 5px 15px 0 $shadow;
    top: 100%;
    right: 0;
    margin-top: 1rem;
    background-color: $secondary;
    border: 1px solid $fourth;
    border-radius: 6px;
    transition: 300ms;
    transform-origin: 86% top;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "sidebar top"
      "sidebar bottom"
    ;

    //Abrindo e fechando
    &[active=true] {
      transform: scale(0.85);
    }

    &[active=false] {
      transform: scale(0);
    }

    &::before {
      content: '';
      width: 15px;
      height: 15px;
      background-color: $secondary;
      position: absolute;
      top: 0;
      transform: translateY(-50%) rotate(45deg);
      right: 1rem;
      border-top: 1px solid $fourth;
      border-left: 1px solid $fourth;
    }

    //As opções do topo (Com ícones)
    &__top {
      grid-area: top;
      grid-template-columns: 1fr 1fr;
      column-gap: 1.5rem;
      display: grid;
      row-gap: 1.5rem;
      padding: 1rem;
      border-bottom: 1px solid $fourth;


      //Cada opção
      &__option {
        display: grid;
        place-items: center;
        cursor: pointer;
        row-gap: 0.25rem;

        &:hover {
          .SP__avatar__menu__top__option__title{
            color: $primary;
          }
        }

        //O ícone da opçção
        &__icon {
          color: $primary;
          width: 27px;
          height: 27px;
        }

        //O texto da opção
        &__title {
          @include font(12px, $fifth, 700);
          white-space: nowrap;
          margin-top: 0.25rem;
          transition: 150ms;
          text-transform: capitalize;
        }
      }
    }

    //A parte de baixo do menu
    &__bottom {
      grid-area: bottom;
      padding: 1rem;
      display: flex;
      flex-direction: column;

      &:hover{
        .SP__avatar__menu__bottom__option{
          opacity: 0.3;
        }
      }

      //Cada opção (Apenas texto)
      &__option {
        @include font(17px, $primary, 700);
        padding: 0.75rem 0;
        cursor: pointer;
        transform-origin: left center;
        transition: 200ms;
        text-transform: capitalize;

        &:first-child {
          padding-top: 0.5rem;
        }

        &:last-child {
          padding-bottom: 0.5rem;
        }

        &:hover {
          opacity: 1 !important; 
        }
      }
    }

    &__sidebar {
      grid-area: sidebar;
      border-right: 1px solid $fourth;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 1rem;
      flex-direction: column;

      &:hover{
        .SP__avatar__menu__sidebar__option{
          opacity: 0.3;
        }
      }

      &__option {
        cursor: pointer;
        color: $primary;
        padding: 0.25rem;
        width: 60%;
        aspect-ratio: 1/1;
        border-bottom: 1px solid $fourth;
        height: 45px;
        transition: 150ms;
        position: relative;
        text-transform: capitalize;

        svg {
          width: 100%;
          height: 100%;
        }

        &:hover {
          opacity: 1 !important;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet-screen-size) {
  .SP__avatar {
    width: 55px;
    height: 55px;
  }

  .SP__avatar__menu[active=true] {
    transform: scale(0.92) !important;
  }
}

@media screen and (min-width: $desktop-screen-size) {
  .SP__avatar__menu[active=true] {
    transform: scale(1) !important;
  }
}