.SP__badge{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.35rem;
  height: min-content;
  bottom: 100%;
  left: 100%;
  color: white;
  transform: translate(-50%, 50%);
  column-gap: 0.35rem;
  width: min-content;
  white-space: nowrap;
  transition: 150ms;
  border: 1px solid transparent;
  letter-spacing: 0px;
  text-transform: none;

  &:hover{
    filter: brightness(1.1);
  }
}