.SP__buyer{
  padding: 1rem;
  border: 1px solid $fourth;
  border-radius: 6px;
  // background-color: $third;

  &__title{
    @include font(20px, $primary, 600);
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  &__info{
    display: grid;
    align-content: flex-start;
    row-gap: 0.75rem;

    &:hover{
      .SP__buyer__info__item{
        color: $fifth;
      }
    }

    &__item{
      display: flex;
      color: $primary;
      cursor: pointer;
      align-items: center;
      column-gap: 1rem;

      &::after{
        content: attr(data-copy-label);
        margin-left: -0.5rem;
        opacity: 0;
        position: relative;
        left: -4px;
        transition: 150ms;
      }

      &[data-info=true]{
        &:hover{
          &::after{
            opacity: 1;
            left: 0;
          }
        }
      }

      
      &:hover{
        .SP__buyer__info__item__icon,
        .SP__buyer__info__item__text{
          color: $primary;
        }
      }
      
      &__icon{
        width: 20px;
        height: 20px;
        transition: 150ms;
      }

      &__text{
        font-size: 15px;
        transition: 150ms;
      }
    }
  }

  &__thumb{
    border-radius: 50%;
    width: 80px;
    aspect-ratio: 1/1;
    grid-row: 1 / span 2;
    grid-column: 2;
    align-self: center;
  }


  &.hasImage{
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 0;
    margin-bottom: 3rem;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;

    .SP__buyer__title{
      margin: 0;
    }
  }
}