////////////////////////////////////////
///             FILTERS              ///
////////////////////////////////////////

//A aba de filtros

.SP__filters{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  overflow-y: auto;
  padding: 0 2rem;
  padding-top: 1rem;

  //Adicionando borda em todos os itens
  & > *:not(:last-child){
    border-bottom: 1px solid $fourth;
  }

  //A mensagem presente no filtro de classificação
  &__message{
    display: flex;
    width: 100%;
    background-color: $third;
    padding: 1rem;
    column-gap: 1rem;
    border-radius: 6px;
    align-items: center;

    //O texto da mensagem
    &__text{
      @include font(16px, $primary, 400);
    }

    //O icone da mensagem
    &__icon{
      @include font(26px, $primary, 400);
    }
  }

  //Os filtros de data e preço
  &__date,
  &__price{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding-bottom: 1.5rem;
    row-gap: 2rem;
    grid-template-areas: 
      "title title"
      "slider slider"
      "min max"
    ;

    //Os títulos
    .SP__filters__date__title,
    .SP__filters__price__title{
      @include font(18px, $primary, 500);
      grid-area: title;
    }

    //O input de slider
    .SP__filters__price__slider{
      height: 3px;
      background-color: $third;
      grid-area: slider;
      width: calc(100% - 2rem);
      justify-self: center;
      border-radius: 10px;

      //O handle do slider
      .ui-slider-handle{ 
        background-color: $secondary;
        border: 2px solid $fifth;
        width: 26px;
        height: 26px;
        transform: translate(-25%, -9px);
        border-radius: 50%;
        cursor: move;

        &::after{
          @include absCenter;
          @include font(25px, $fifth, 700);
          font-family: "Allinsys";
          position: absolute;
        }
      }

      //O range (A parte do meio)
      .ui-slider-range{
        background-color: $fifth;
      } 
    }

    //Os inputs de mínimo e máximo
    .SP__filters__date__mindate,
    .SP__filters__date__maxdate,
    .SP__filters__price__maxprice,
    .SP__filters__price__minprice{
      width: 100%;
      padding: 0.75rem;
      border: 1px solid $fourth;
      border-radius: 6px;

      //A label
      &__label{
        @include font(16px, $fifth, 500);
        display: block;
        margin-bottom: .5rem;
      }

      //O valor
      &__value{
        @include font(18px, $primary, 500);
        outline: none;
        width: 100%;
        display: block;
        background-color: transparent;
        border: none;
      }
    }
  }

  //O filtro de texto
  &__text{

    //Removendo a borda caso for apenas um elemento
    &:only-child{ border-bottom: 1px solid $fourth}

    //O título
    &__title{
      font-size: 18px;
      color: $primary;
      font-weight: 500;
      grid-area: title;
      display: block
    }

    //O input
    &__input{
      @include font(19px, $primary, 500);
      outline: none;
      padding: 1rem 0;
      border: none;
      background-color: transparent;
      width: 100%;

      &::placeholder{
        color: $primary !important;
        opacity: 0.3;
      }
    }
  }

  //Configurando grid da data
  .SP__filters__date{
    grid-template-areas: 
      "title title"
      "min max"
    ;
  }

  //Os filtros de tags
  &__tags{
    padding-bottom: 2rem;

    //O título
    &__title{
      font-size: 18px;
      color: $primary;
      font-weight: 500;
      grid-area: title;
      display: block;
      margin-bottom: 2rem;
    }

    //O grid com as tags
    &__grid{
      display: flex;
      flex-wrap: wrap;
      column-gap: 0.75rem;
      row-gap: 0.5rem;

      //Cada tag
      &__tag{
        @include font(16px, $primary, 500);
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        cursor: pointer;
        transition: 200ms;
        background-color: $third;

        //Quando estiver ativa
        &[active=true]{
          background-color: $fifth;
          color: $secondary;
        }
      }
    }
  }
}


