.SP__footer {
  background-color: $secondary;
  padding: 0.75rem $mobile-side-padding;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  transition: 350ms;
  border-top: 1px solid $fourth;
  column-gap: 2rem;

  //Todos os tipos de bot천es
  &__button {
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem;
    outline: none;
    border-radius: 6px;
    border: none;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    letter-spacing: 1px;
    transition:
      opacity 200ms,
      background-color 300ms,
      box-shadow 200ms,
      letter-spacing 200ms,
    ;

    svg{
      width: 24px;
      height: 24px;
    }

    //Se alinha na direita caso sozinha
    &:only-child {
      margin-left: auto;
    }

    //Caso estiver desabilitado
    &:disabled {
      opacity: 0.3;
      pointer-events: none
    }

    //Bot찾o vazio
    &.isBlank {
      color: $primary;
      background-color: transparent;
      padding: 1rem 0;
      position: relative;
      line-height: 1.3;
      text-align: left;

      //Linha embaixo que cresce no hover
      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0px;
        height: 2px;
        background-color: $primary;
        transition: 200ms;
        border-radius: 20px;
        transform: translateY(-10px);
      }

      //Hover aumenta a linha
      &:hover {
        &::after {
          width: 100%
        }
      }
    }

    //Bot찾o preto preenchido
    &.isFilled {
      color: $secondary;
      background-color: $primary;

      &:hover {
        filter: brightness(0.9)
      }
    }

    //Bot찾o outlined
    &.isOutlined {
      color: $primary;
      background-color: transparent;
      border: 2px solid $primary;
    }
  }

  &.check-points-formatter {
    position:fixed;
    // height: 200vh;
    // background-color: black;
    bottom:0;
    left:0;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .act-btn{
      display: flex;
      gap: 1rem;
    }
  }
}

//Tablet
@media screen and (min-width: $tablet-screen-size) {
  .SP__footer {
    padding: 1rem $tablet-side-padding;
  }
}

//Desktop
@media screen and (min-width: $desktop-screen-size) {
  .SP__footer {
    padding: 1.5rem $desktop-side-padding;
  }
}