.SP__form {
  width: 100%;
  padding: 0 $mobile-side-padding;
  padding-top: 1rem;
  // padding-bottom: 3rem;
  display: flex;
  // flex-direction: column;
  row-gap: 2.25rem;
  // overflow-y: auto;
  height: min-content;
  position:relative;
  z-index:9999;
  align-items: end;

  &.noOverflow{
    overflow: visible;
  }

  button {
    margin-bottom:8px;
  }

  .SP__advice {
    background-color: $third;
    padding: 1rem;
    border-radius: 6px;
    display: grid;
    column-gap: 2rem;
    place-items: center;
    grid-template-columns: 1fr min-content;

    .SP__advice__text {
      @include font(15px, $primary, 500)
    }

    .SP__advice__button {
      @include font(13px, $primary, 700);
      border: 2px solid $primary;
      background-color: transparent;
      padding: 1rem;
      white-space: nowrap;
      border-radius: 6px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .SP__error {
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    column-gap: 1rem;
    place-items: center;
    padding: 0.74rem 1rem;
    background-color: $red;
    border-radius: 6px;
    animation: appear 0.5s forwards;

    .SP__error__message {
      @include font(15px, $secondary);
      width: 100%;
      word-break: break-word;
    }

    .SP__error__icon {
      @include font(35px, $secondary)
    }

    .SP__error__code {
      @include font(17px, $secondary);
    }
  }

  &.isMarkupForm{
    width: calc(100% - 4rem);
    padding: 1rem;
    border-radius: 6px;
    background-color: $third;
    margin-bottom: 2rem;

    .SP__input{
      display: grid;
      grid-template-columns: min-content 1fr;
      align-items: center;

      .SP__input__label{
        margin-bottom: 0;
      }

      .SP__input__text{
        font-size: 20px;
        padding: 0;
        border-bottom: none !important;
      }
    }
  }

  &.isPricingForm {
    .SP__input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $fourth;

      &__label {
        margin-bottom: 0 !important;
      }

      &__text {
        width: 45% !important;
        font-size: 30px !important;
        font-weight: 600 !important;
        text-align: right !important;
        border-bottom: none !important;
      }

      ;
    }
  }

  .SP__select,
  .SP__input {
    width: 100%;
    position: relative;

    &.isInvalid {

      .SP__select__choosen,
      .SP__input__text {
        border-bottom: 1px solid $red;


      }

      &::after {
        @include font(12px, $red, 400);
        margin-top: 0.5rem;
        display: block;
        content: attr(data-invalid);
      }
    }

    .SP__select__label,
    .SP__input__label {
      @include font(14px, $primary, 700);
      display: block;
      // text-transform: uppercase;
      margin-bottom: 0.75rem;
      width: min-content;
      white-space: nowrap;

      &::after {
        @include font(12px, $primary, 500);
        content: attr(isOptional);
        position: absolute;
        text-transform: capitalize;
        top: 0;
        right: 0;
      }
    }

    .SP__input__text {
      transition: 200ms;

      &:hover {
        border-bottom-color: $fifth;
      }

      &:is(textarea) {
        resize: vertical;
        max-height: 500px;
        min-height: 250px;
        background-color: var(--third);
        border-radius: 6px;
        border-bottom: none;
        padding: 1rem;
      }

      &[readonly] {
        border-color: $secondary !important;
        pointer-events: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
      }
    }



    .SP__input__text {
      @include font(14px, $primary, 400);
      background-color: transparent;
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid $fourth;
      padding: 0.5rem 0;
    }

    .SP__input__toggle {
      @include font(12px, $primary, 600);
      text-transform: uppercase;
      position: absolute;
      padding: 0.5rem 0;
      bottom: 0.2rem;
      transition: 100ms;
      cursor: pointer;
      right: 0;
    }
  }

  .SP__checkbox {
    @include font(14px, $primary, 400);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    justify-content: right;
    margin-top: -10px;
    margin-bottom: -10px;

    &[active=true] {
      .SP__checkbox__block {
        background-color: $primary;

        &__icon {
          opacity: 1
        }
      }
    }

    &__input {
      display: none;
    }

    &__block {
      @include flexCenter;
      width: 25px;
      height: 25px;
      border-radius: 6px;
      border: 1px solid $primary;
      cursor: pointer;
      transition: 150ms;

      &:hover {
        background-color: $third
      }

      &__icon {
        color: $secondary;
        width: 16px;
        height: 16px;
        opacity: 0;
      }
    }
  }


  .SP__select {
    position: relative;

    &[readonly] {
      .SP__select__choosen {
        border-color: $secondary !important;
        pointer-events: none;
      }

      .SP__select__arrow {
        display: none;
      }
    }

    &.isOpen {
      .SP__select__options {
        transform: scale(1);
      }

      .SP__select__arrow {
        transform: translate(0%, -50%) rotate(180deg);
      }
    }

    &__choosen {
      @include font(14px, $primary, 500);
      // background-color: transparent;
      // width: 100%;
      // outline: none;
      // padding: 0.5rem 0;
      // border: 1px solid $secondary;
      // border-bottom: 1px solid $fourth;
      width: 100%;
      padding: 0.75rem;
      height:43px;
      border: 1px solid var(--fourth);
      border-radius: 6px;
      color: var(--primary);
      outline: none;
      cursor: pointer;
      background-color:var(--third);
    }

    &__arrow {
      color: $primary;
      width: 14px;
      height: 14px;
      position: absolute;
      right: 0;
      top: 70%;
      margin-right:0.75rem;
      transform: translate(0%, -50%);
      transition: 200ms;
    }

    &__options {
      border-radius: 6px;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      transform: scale(0);
      transition: 200ms;
      transform-origin: center bottom;
      max-height: 250px;
      overflow-x: auto;
      background-color: $third;
      //TODO: BOTAR SHADOW
      // box-shadow: 0 5px 5px 0px rgba(186, 179, 179, 0.13);

      &__option {
        @include font(13px, $primary, 500);
        padding: 1rem;
        cursor: pointer;
        transition: 100ms;
        // background-color: $third;

        &:hover {
          background-color: $fourth;
        }

        &:last-child {
          border-radius: 0 0 6px 6px
        }

        &:first-child {
          border-radius: 6px 6px 0 0
        }

        &:only-child {
          border-radius: 6px
        }
      }
    }
  }
}

@media screen and (min-width: $tablet-screen-size) {
  .SP__form {
    padding-left: $tablet-side-padding;
    padding-right: $tablet-side-padding;
  }
}

@media screen and (min-width: $desktop-screen-size) {
  .SP__form {
    padding-left: $desktop-side-padding;
    padding-right: $desktop-side-padding;
  }
}