////////////////////////////////////////
///               ITEM               ///
////////////////////////////////////////

//CSS aplicado aos cards de vendas parceiros, precificação

.SP__item {
  border-radius: 6px;
  display: flex;
  height: min-content;
  flex-direction: column;
  background-color: $secondary;
  border: 1px solid $fourth;

  &__main {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    column-gap: 1rem;
    padding: 0.75rem;

    &__left,
    &__center,
    &__right {
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      &:empty {
        display: none;
      }
    }
  }

  &__header {
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $fourth;
    align-items: center;

    &:empty {
      display: none;
    }
  }

  &__footer {
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $fourth;
    align-items: center;

    &:empty {
      display: none;
    }
  }

  &__title {
    color: $primary;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
  }

  &__desc {
    font-size: 15px;
    color: $fifth;
    line-height: 1.25;
  }

  &__image {
    width: 100%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: contain;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;

    &.isLoading {
      background-color: $third;

      &::after {
        content: '';
        position: absolute;
        width: 75%;
        left: -75%;
        height: 100%;
        top: 0;
        background-image: linear-gradient(to left, transparent, $fourth, transparent);
        animation: blockThumbLoading 1s ease-out infinite;
      }
    }

    &.hasError {
      border: 1px dashed $red;
      animation: appear 600ms ease-in-out forwards;

    }

    &.isLoaded {
      animation: appear 600ms ease-in-out forwards;
    }
  }

  &__brand {
    font-size: 14px;
    color: $fifth;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    width: fit-content;
  }

  &__tag {
    background-color: $fifth;
    padding: 0.5rem 0.75rem;
    border-radius: 3px;
    color: white;
    width: fit-content;
    font-size: 14px;
    white-space: nowrap;
  }

  &__checkbox {
    width: 26px;
    height: 26px;
    border-radius: 6px;
    background-color: $third;
    position: relative;
    border: 1px solid transparent;
    transition: 50ms;

    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      color: $green;
      transform: translate(-50%, -50%) scale(0);
      transition: 150ms;
      width: 70%;
      height: 70%;
    }

    &.isActive {      
      svg{
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  &__icon {
    color: $primary;
    width: 20px;
    height: 20px;
    font-smooth: 2em;
    position: relative;
    cursor: pointer;

  }

  &.isDatasheetTopbar{
    .SP__item__main__left{
      flex-wrap: wrap;
      justify-content: space-between;

    }
  }

  &.isModelSubclassif,
  &.isModelClassif {
    width: 75%;
    border: none;
    background-color: $third;

    .SP__item__title {
      font-size: 16px;
    }

    .SP__item__checkbox {
      background-color: $secondary;
    }

    .SP__item__main {
      padding: 0.75rem;
    }
  }

  &.isModelSubclassif {
    width: 100%;
    margin-top: 0.5rem;

    &:first-child {
      margin-top: 0.75rem;
    }
  }

  &.isDatasheetTopbarBtn {
    transition: 150ms;

    .SP__item__main {
      padding: 0.5rem;
    }

    .SP__item__main__center {
      justify-content: center;
    }

    &.isActive {
      background-color: $third;
    }

    &:hover {
      background-color: $third;
    }
  }

  &.isModelSelected {
    border: none;
    background-color: $third;
    width: 100%;

    .SP__item__main {
      padding: 1rem;
    }

    .SP__item__main__center {
      display: flex;
      justify-content: center;
    }

    .SP__item__title {
      font-size: 16px;
    }
  }

  &.isOrderFinishHeader {
    border: none;
    width: 100%;

    .SP__item__main {
      padding: 0;
    }

    .SP__item__main__left {
      justify-content: center;
    }

    .SP__item__image {
      background-size: cover;
    }
  }

  &.isHuge {

    .SP__item__header,
    .SP__item__main,
    .SP__item__footer {
      padding: 1rem;
    }

    .SP__item__title {
      font-size: 24px;
    }

    .SP__item__desc {
      font-size: 17px;
    }

    .SP__item__tag {
      font-size: 16px;
      padding: 0.5rem;
    }

    .SP__item__brand {
      font-size: 16px;
    }

    .SP__item__main__left,
    .SP__item__main__center,
    .SP__item__main__right {
      row-gap: 0.75rem;
    }
  }

  &.isMedium {

    .SP__item__main,
    .SP__item__footer {
      padding: 1rem;
    }

    .SP__item__title {
      font-size: 20px;
    }

    .SP__item__tag {
      font-size: 15px;
      padding: 0.5rem;
    }

    .SP__item__desc {
      font-size: 16px;
    }

    .SP__item__brand {
      font-size: 15px;
    }

    .SP__item__main__left,
    .SP__item__main__center,
    .SP__item__main__right {
      row-gap: 0.75rem;
    }
  }

  &.noBorder {
    border: none;
  }

  &.noPadding {
    .SP__item__main {
      padding: 0;
    }
  }

  &.simpleBorder {
    border: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--fourth);

    .SP__item__main {
      padding-left: 0;
      padding-right: 0;
    }

  }
}

@media screen and (min-width: $tablet-screen-size) {
  .isDatasheetTopbar{
    .SP__item__main__left{
      justify-content: flex-start !important;
    }
  }
}