.SP__pricepdf {
  width: 210mm;
  padding: 1rem;
  background-color: $secondary;
  position: absolute;
  padding-bottom: 0;
  
  --primary: #2C2E35;
  --secondary: #FFFFFF;
  --third: #F5F5F5;
  --fourth: #EBECEC;
  --fifth: #B0B1B3;
  --backdrop: rgba(0, 0, 0, 0.35);
  --shadow: rgb(0 0 0 / 6%);
  --red: #C84C4F;
  --orange: #efb36a;
  --green: #488b65;
  
  &::after {
    content: '';
    background-color: $secondary;
    width: 100%;
    height: 297mm;
    position: absolute;
    top: 100%;
    left: 0;
  }


  &.dark {
    --primary: #b8b8b8;
    --secondary: #2e2f31;
    --third: #323436;
    --fourth: #37393c;
    --fifth: #888c8f;
    --backdrop: rgba(142, 142, 142, 0.35);
    --shadow: rgb(255 255 255 / 1%);
  }


  &__title {
    font-size: 28px;
    color: $primary;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1.5rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $primary;
      border-radius: 6px;
    }
  }

  &__header {
    width: 100%;
    padding: 1.5rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    border: 1px solid $fourth;
    display: grid;
    align-items: center;
    grid-template-columns: 80px 80px min-content 1fr min-content;
    gap: 1rem;

    &__logo {
      width: 100%;
      aspect-ratio: 1/1;
      border: 1px dashed $fourth;
      border-radius: 6px;
    }

    &__image {
      width: 100%;
      border-radius: 6px;
      aspect-ratio: 1/1;
      object-fit: contain;
      border: 1px solid $fourth;
    }

    &__info {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      &__title {
        color: $primary;
        font-size: 14px;
        white-space: nowrap;
        font-weight: bold;

        &::before {
          margin-bottom: 0.25rem;
          content: 'Produto:';
          display: block;
          color: $fifth;
          font-weight: 400;
          font-size: 12px;
        }

        &::after {
          content: attr(data-id);
          margin-top: 0.25rem;
          display: block;
          color: $fifth;
          font-weight: 400;
          font-size: 12px;
        }
      }
    }

    &__users {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      padding-left: 1rem;

      &__seller {
        color: $primary;
        font-size: 14px;
        font-weight: bold;

        &::before {
          margin-bottom: 0.25rem;
          content: 'Gerado por:';
          display: block;
          color: $fifth;
          font-weight: 400;
          font-size: 12px;
        }
      }

      &__reseller {
        color: $primary;
        font-size: 14px;
        font-weight: bold;

        &::before {
          margin-bottom: 0.25rem;
          content: 'Revenda:';
          display: block;
          color: $fifth;
          font-weight: 400;
          font-size: 12px;
        }
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      &__date {
        text-align: right;
        white-space: nowrap;
        font-weight: bold;
        font-size: 14px;
        color: $primary;

        &::before {
          content: 'Gerado em:';
          display: block;
          color: $fifth;
          margin-bottom: 0.5rem;
          font-weight: 400;
          font-size: 12px;
        }
      }

      &__id {
        text-align: right;
        font-size: 14px;
        color: $primary;
        font-weight: bold;

        &::before {
          content: 'Identificador';
          display: block;
          color: $fifth;
          margin-bottom: 0.5rem;
          font-weight: 400;
          font-size: 12px;
        }
      }
    }
  }

  &__alert {
    width: 100%;
    padding: 1rem;
    display: flex;
    column-gap: 1rem;
    border-radius: 5px;
    position: relative;
    align-items: center;
    border: 1px solid $red;
    margin-bottom: 1rem;
    background-color: $third;

    &__icon {
      color: $red !important;
      width: 16px;
      height: 16px;
    }

    &__message {
      font-size: 14px;
      color: $red;
    }
  }

  &__footer {
    padding: 1.5rem;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $fourth;
    margin-top: 2rem;
    border-radius: 6px;

    &__label {
      font-size: 14px;
      color: $fifth;
    }

    &__id {
      font-size: 18px;
      font-weight: bold;
      color: $primary;
    }
  }
}

.SP__pricetable {
  border-radius: 6px;
  border: 1px solid $fourth;
  padding: 1rem;
  position: relative;
  margin-bottom: 2rem;

  &__title {
    color: $primary;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-radius: 6px;
    border: 1px solid $fourth;
    position: relative;
    overflow: hidden;

    &__overlay {
      z-index: 1;
      position: absolute;
      width: 6000px;
      height: 6000px;
      top: 50%;
      left: 50%;
      opacity: 0.15;
      background-size: 300px;
      background-repeat: repeat space;
      transform: translate(-50%, -50%) rotate(15deg);
    }

    &__head {
      background-color: $fourth;

      &__item {
        padding: 1rem;
        color: $primary;
        white-space: nowrap;
        font-size: 10px;
        font-weight: bold;
        border-bottom: 1px solid $fourth;

        &:not(:first-child) {
          border-left: 1px solid $secondary;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    &__body {
      &__row {

        &:nth-child(even) {
          background-color: $third;
        }

        &:nth-child(odd) {
          background-color: $secondary;
        }


        &__column {
          vertical-align: middle;
          padding: 0.5rem;
          line-height: 1.5;
          color: $primary;
          border-bottom: 1px solid $fourth;
          font-size: 10px;

          &:not(:first-child) {
            border-left: 1px solid $fourth;
          }

          &:first-child {
            white-space: pre-line;
          }

          &:last-child {
            text-align: right;
            font-weight: bold;
          }

          &:nth-child(6) {
            white-space: pre-line;
          }

          span {
            font-size: 10px;
            color: $fifth;
          }
        }
      }
    }
  }
}

.SP__awningtable {
  width: 100%;
  border-radius: 6px;
  margin-top: 1rem;
  border: 1px solid $fourth;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;

  &__overlay {
    z-index: 1;
    position: absolute;
    width: 6000px;
    height: 6000px;
    top: 50%;
    left: 50%;
    opacity: 0.15;
    background-size: 300px;
    background-repeat: repeat space;
    transform: translate(-50%, -50%) rotate(15deg);
  }

  &__header {
    display: flex;
    border-bottom: 1px solid $fourth;
    width: 100%;
    background-color: $third;
    border-radius: 6px 6px 0 0;
    padding: 0.5rem;
    align-items: center;

    &__name {
      font-size: 12px;
      font-weight: bold;
      color: $primary;
    }

    &__description {
      font-size: 12px;
      color: $fifth;
      margin-left: 0.5rem;
      border-left: 1px solid $fourth;
      padding-left: 0.5rem;
    }
  }

  &__footer {
    padding: 0.5rem;
    font-size: 10px;
    color: $red;
    border-top: 1px solid $fourth;

    &:empty {
      display: none;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    &__head {
      background-color: $third;
      vertical-align: middle;
      text-align: center;
      font-size: 8px;
      font-weight: 500;
      color: $primary;
      border-bottom: 1px solid $fourth;

      th {
        padding: 0.5rem 0;

        &:not(:first-child) {
          border-left: 1px solid $fourth;
        }

        &:not(:last-child) {
          border-right: 1px solid $fourth;
        }
      }
    }

    &__body {
      &__row {

        &:not(:last-child) {
          td {
            border-bottom: 1px solid $third;

          }
        }

        &__col {
          font-size: 6px;
          padding: 0.5rem 0;
          color: $primary;
          vertical-align: middle;
          text-align: center;

          &:not(:first-child) {
            border-left: 1px solid $fourth;
          }

          &:not(:last-child) {
            border-right: 1px solid $fourth;
          }

          &:only-child {
            border-right: 1px solid $fourth;
          }

          &:first-child {
            font-weight: bold;
            font-size: 8px;
          }

          span {
            font-size: 6px;
            font-weight: 400;
            color: $fifth;
            display: block;
            margin-top: 0.35rem;
          }
        }
      }
    }
  }
}

.SP__pricepdf__scroll {
  position: relative;
  width: 210mm;
  height: 297mm;
  overflow: hidden;
  z-index: -10000;
}