.SP__password-card {
    width: 360px;
    padding: 24px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.SP__password-card__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.SP__password-card__button {
    margin-top: 16px;
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid #2ecc71;
    background: #fff;
    color: #2ecc71;
    font-weight: 600;
    cursor: pointer;
}