.SP__warning-card {
    width: 800px;
    padding: 24px;
    background: #fff;
    color:black;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .SP__warning-card__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    .SP__warning-card__content{
        border-radius: 6px;
        display: flex;
        flex-wrap: wrap;
        background-color: var(--fourth);
        margin-top: 10px;
        >* {
            padding: 15px;
            width: 50%;
            margin-bottom: 8px;
        }
    }
}  

